<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     --- ------------------------------------ 0.5/6.0 MB 2.8 MB/s eta 0:00:02
     ------- -------------------------------- 1.0/6.0 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.3/6.0 MB 2.1 MB/s eta 0:00:03
     ------------ --------------------------- 1.8/6.0 MB 1.9 MB/s eta 0:00:03
     --------------- ------------------------ 2.4/6.0 MB 1.9 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 1.9 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.8 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 1.8 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 1.8 MB/s eta 0:00:02
     ---------------------------- ----------- 4.2/6.0 MB 1.8 MB/s eta 0:00:01
     ----------------------------- ---------- 4.5/6.0 MB 1.8 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 1.8 MB/s eta 0:00:01
     ----------------------------------- ---- 5.2/6.0 MB 1.8 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 1.8 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 1.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1142950 sha256=b12622d021061f29e7c6f1497e539bea0319133a32c554e03d6cf0cb40158f57
  Stored in directory: c:\users\marij\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.34
    Uninstalling SQLAlchemy-2.0.34:
      Successfully uninstalled SQLAlchemy-2.0.34
Successfully installed sqlalchemy-1.3.9

WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\marij\anaconda3\Lib\site-packages\~qlalchemy'.
  You can safely remove it manually.
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aext-project-filebrowser-server 4.1.0 requires sqlalchemy>=2.0.29, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\marij\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\marij\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\marij\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\marij\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\marij\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\marij\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\marij\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\marij\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 2.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.9 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.41

WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)

Requirement already satisfied: ipython-sql in c:\users\marij\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\marij\anaconda3\lib\site-packages (3.15.1)
Requirement already satisfied: ipython in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\marij\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\marij\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet>=1 in c:\users\marij\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\marij\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\marij\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\marij\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\marij\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\marij\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\marij\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)

In [5]:
%load_ext sql

In [7]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [9]:
!pip install -q pandas

WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\marij\anaconda3\Lib\site-packages)

In [11]:
%sql sqlite:///my_data1.db

In [13]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [15]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [17]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [40]:
%sql select distinct Launch_Site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [44]:
%sql select * from SPACEXTABLE where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [46]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXTABLE where Customer like 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [49]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version like 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [51]:
%sql select min(date) from SPACEXTABLE where Landing_Outcome like 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [61]:
%sql select distinct(Booster_Version) from SPACEXTABLE where PAYLOAD_MASS__KG_ > 4000 and PAYLOAD_MASS__KG_ > 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1029.1',),
 ('F9 FT B1034',),
 ('F9 FT B1036.1',),
 ('F9 FT B1037',),
 ('F9 B4 B1041.1',),
 ('F9 FT  B1036.2',),
 ('F9 B4 B1044',),
 ('F9 B4  B1041.2',),
 ('F9 B4  B1043.2',),
 ('F9 B5B1047.1',),
 ('F9 B5B1048.1',),
 ('F9 B5B1049.1',),
 ('F9 B5 B1049.2',),
 ('F9 B5B1051.1',),
 ('F9 B5 B1049.3',),
 ('F9 B5 B1047.3 ',),
 ('F9 B5 B1048.4',),
 ('F9 B5 B1056.3 ',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1046.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5B1058.1 ',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1059.3',),
 ('F9 B5 B1051.5',),
 ('F9 B5 B1049.6',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5B1061.1 ',),
 ('F9 B5 B1049.7 ',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [63]:
%sql select count(Mission_Outcome) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[(101,)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [109]:
%sql select max(PAYLOAD_MASS__KG_) from SPACEXTABLE group by Booster_Version

 * sqlite:///my_data1.db
Done.

[(2647,),
 (5384,),
 (9600,),
 (6460,),
 (3310,),
 (4990,),
 (9600,),
 (3500,),
 (5000,),
 (6092,),
 (362,),
 (2697,),
 (3600,),
 (5800,),
 (4000,),
 (12050,),
 (5300,),
 (6500,),
 (3000,),
 (4850,),
 (15600,),
 (15600,),
 (9600,),
 (13620,),
 (15600,),
 (15600,),
 (15440,),
 (15600,),
 (4200,),
 (15600,),
 (15600,),
 (14932,),
 (15600,),
 (2268,),
 (6956,),
 (15600,),
 (5500,),
 (15600,),
 (2972,),
 (1977,),
 (15410,),
 (3130,),
 (15600,),
 (15600,),
 (7075,),
 (9600,),
 (7060,),
 (2500,),
 (12055,),
 (4400,),
 (2495,),
 (12530,),
 (2617,),
 (4311,),
 (12500,),
 (4311,),
 (1192,),
 (5300,),
 (3669,),
 (5200,),
 (4230,),
 (2205,),
 (9600,),
 (2150,),
 (2034,),
 (5271,),
 (3136,),
 (4696,),
 (3100,),
 (3600,),
 (2257,),
 (4600,),
 (9600,),
 (5600,),
 (2490,),
 (5300,),
 (6070,),
 (2708,),
 (9600,),
 (6761,),
 (475,),
 (0,),
 (0,),
 (525,),
 (500,),
 (677,),
 (4535,),
 (500,),
 (2216,),
 (4428,),
 (2395,),
 (570,),
 (4159,),
 (1898,),
 (4707,),
 (553,),
 (1952,)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [145]:
%sql select substr(Date, 1, 4) AS Year, substr(Date, 6, 2) AS Month, Landing_Outcome, Booster_Version, Launch_Site from SPACEXTABLE where Landing_Outcome like 'Failure (drone ship)' and Year like '2015'

 * sqlite:///my_data1.db
Done.

[('2015', '01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('2015', '04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [178]:
%sql select Date, Landing_Outcome from SPACEXTABLE WHERE  Landing_Outcome like 'Failure (drone ship)' order by Date desc;

 * sqlite:///my_data1.db
Done.

[('2016-06-15', 'Failure (drone ship)'),
 ('2016-03-04', 'Failure (drone ship)'),
 ('2016-01-17', 'Failure (drone ship)'),
 ('2015-04-14', 'Failure (drone ship)'),
 ('2015-01-10', 'Failure (drone ship)')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>